# ================================================================
#  DOCKER COMPOSE: CLOUD-BASED IoT CLIENT SIMULATION
# ================================================================

x-common: &common
  image: 560388707975.dkr.ecr.us-east-1.amazonaws.com/aefl-client:latest
  network_mode: host
  working_dir: /app
  volumes:
    - .:/app
    - ~/.aws:/root/.aws:ro
  restart: "no"

services:

  iot_client_0:
    <<: *common
    container_name: aefl_iot_client_0
    environment:
      - CLIENT_ID=0
      - DEVICE_TYPE=roadside_unit
      - MODE=local_train
      - DATASET=sz
    command: >
      python -m src.experiments.run_localonly --config configs/localonly_sz.yaml

  iot_client_1:
    <<: *common
    container_name: aefl_iot_client_1
    environment:
      - CLIENT_ID=1
      - DEVICE_TYPE=vehicle_node
      - MODE=local_train
      - DATASET=sz
    command: >
      python -m src.experiments.run_localonly --config configs/localonly_sz.yaml

  iot_client_2:
    <<: *common
    container_name: aefl_iot_client_2
    environment:
      - CLIENT_ID=2
      - DEVICE_TYPE=edge_sensor
      - MODE=local_train
      - DATASET=sz
    command: >
      python -m src.experiments.run_localonly --config configs/localonly_sz.yaml

  iot_client_3:
    <<: *common
    container_name: aefl_iot_client_3
    environment:
      - CLIENT_ID=3
      - DEVICE_TYPE=traffic_camera
      - MODE=local_train
      - DATASET=sz
    command: >
      python -m src.experiments.run_localonly --config configs/localonly_sz.yaml

  iot_client_4:
    <<: *common
    container_name: aefl_iot_client_4
    environment:
      - CLIENT_ID=4
      - DEVICE_TYPE=bus_unit
      - MODE=local_train
      - DATASET=sz
    command: >
      python -m src.experiments.run_localonly --config configs/localonly_sz.yaml
